header{
  padding:20px 0px;
  width:100%;
}

.header-container{
  margin:0px 36px;
}

.header-logo{
  float:left;
}

.header-logo img{
  height:20px;
}

.header-list{
  display:flex;
  justify-content:space-between;
  align-items:center;
  float:right;
}

.header-list li{
  float:left;
  list-style:none;
  display:flex;
  justify-content:space-between;
  text-align:center;
  margin-right: 60px;
  font-weight:700;
  font-size:14px;
}

a{
  text-decoration:none;
  display:inline-block;
  color:black;
  cursor:pointer;
  box-sizing: border-box;
}

a:hover{
  opacity:0.7;
  transition:all 0.5s;
}

.header-list span{
  font-size:10px;
}

.header-link-counseling{
  background-color:#f79214;
  color:white;
  padding:10px 20px;
  border-radius:20px;
  font-size:12px;
}

.main-container{
  max-width: 1140px;
  padding:100px 50px 28px;
  margin-right:auto;
  margin-left:auto
}

.main-container h2{
  text-align:center;
}

.main-contents{
  float:left;
}

.main-contents h2{
  font-size:38px;
  font-weight:700;
  line-height:54px;
}

.main-images{
  text-align:center;
  margin-bottom:25px;
}

.main-btns{
  text-align:center;
  margin-bottom:70px;
}

.main-btns-counseling{
  background-color:#f79214;
  color:white;
  border-radius:50px;
  line-height:64px;
  font-weight:bold;
  font-size:16px;
  width:306px;
  margin-right:15px;
}

.main-btns-DocumentRequest{
  border:1px solid #e0e0e0;
  border-radius:50px;
  line-height:64px;
  font-weight:bold;
  font-size:16px;
  width:176px;
}

.main-ImportantPoints{
  float:left;
  font-size:12px;
  color:#a2a2a4;
}

.main-ImportantPoints a{
  color:#a2a2a4;
}

.main-ImportantPoints p{
  line-height:1.5;
}

.top-wrapper{
  background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
  background-size:cover;
  height:800px;
  background-position: center;
}

.message-wrapper{
  background-color:#f79214;
  padding:44px 0px;
}

.message-container{
  max-width:1140px;
  padding:0px 50px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  justify-content:space-around;
}

.message-video{
  width:50%;
}

.message-text{
  display:inline-block;
  width:50%;
  text-align:left;
  color:white;
  margin-left:32px;
}

.message-text h2{
  font-size:38px;
  line-height:54px;
  width:100%;
}

.message-text p{
  font-size:16px;
  line-height:26px;
  margin-bottom:16px;
}

.message-text a{
  color:white;
  font-size:18px;
  line-height:26px;
}

.message-text a:hover{
  opacity:1;
}

.message-text img{
  margin-right:5px;
}



/*レスポンシブデザイン*/
/*最大幅1080px以下に適用（タブレット用）*/
@media(max-width:1080px){
  body{
    width:100%;
  }
  .header-list{
    display:none;
  }
  
  header{
    background-color:white;
    width:100%;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:10;
    padding:20px 0px;
  }
}

/*最大幅1024px以下に適用（~用）*/
@media(max-width:1024px){
  .message-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }
  
  .message-video{
    width:75%;
    display:block;
  }
  
  .message-text{
    width:75%;
    display:block;
  }
}


/*最大幅767px以下に適用（スマートフォン用）*/
@media(max-width:767px){
  .top-wrapper{
    background-image:none;
    display:none;
  }
  .top-wrapper-767px{
    background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero-sp.jpg.webp);
    background-size:cover;
    display:block;
    background-position:center;
    height:900px;
    padding-bottom:80px;
  }
  .main-container{
    max-width:none;
    padding:0px 20px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    margin-top:55px;
    box-sizing: border-box;
    display:block;
  }
  .clear{
    clear:right;
    clear:left;
  }
  .main-contents{
    margin-top:450px;
    text-align:center;
  }
  .main-images{
    display:flex;
    justify-content:center;
    flex-direction:row;
  }
  .main-image1{
    width:27.5%;
  }
  .main-image2{
    width:40%;
  }
  .main-image3{
    width:27.5%;
  }
  .main-contents h2{
    font-size:25px;
    line-height:36px;
  }
  .main-btns-DocumentRequest{
    display:none;
  }
  .main-btns-counseling{
    display:block;
    width:100%;
  }
  .main-btns{
    margin-bottom:15px;
  }
  .main-ImportantPoints{
    text-align:left;
  }
  .message-wrapper{
    padding:30px 0px;
  }
  .message-container{
    max-width:none;
    padding:0px 20px;
  }
  .message-video{
    width:100%;
  }
  .message-text{
    width:100%;
    margin:0 auto;
  }
}
